<style>
    .error {
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 150px;;
        padding-bottom: 150px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: #faf5f5;
        color: #fa0400;
        border: 1px solid #ebccd1;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        max-width: 600px;
        margin: 100px auto;
        font-size: 24px;
    }

    .error h1 {
        margin: 0;
        font-size: 48px;
    }

    .error p {
        margin: 10px 0 0;
        font-size: 18px;
    }

</style>
<div class="error">Error 404, Page not found!</div>